@{
    ViewData["Title"] = "Home Page";
}
<!-- TODO : CSS -->
<h1> Bienvenue sur le site Teacher Paradise </h1>

<h6> Ici professeur et étudiant trouve leur bonheur en terme d'apprentissage en dehors des réseau officiel </h6>