@{
    ViewData["Title"] = "Home Page";
}

<h1> Bienvenue sur le site Teacher Paradise </h1>

<h6> Ici professeur et étudiant trouve leur bonheur en terme d'apprentissage en dehors des réseau officiel </h6>

<p> Pour vous inscrire en tant que professeur : </p>
<a asp-controller="Home" asp-action="TeacherInscription"> Cliquez ici </a>