@model TeacherParadise.Models.POCO.CEleve

@{
    ViewData["Title"] = "Student connection";
}

<h1>@ViewData["Title"]</h1>
@if ((bool)TempData["Error"] == true)
{
<label class="alert-danger"> wrong login/pswd combination. Check your information and try again </label>
}

<form method="post" asp-action="StudentLogin">
    <table>
        <tr>
            <td>
                <label asp-for="Email"></label>
            </td>
            <td>
                <input asp-for="Email" />
            </td>
            <td>
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td>
                <input asp-for="Password" />
            </td>
            <td>
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index"> Retour </a>
            </td>
            <td colspan="2">
                <input type="submit" />
            </td>
        </tr>
    </table>

</form>