@model TeacherParadise.Models.CProfesseur
@{
    ViewData["Title"] = "Inscription en tant que professeur";
    CProfesseur prof = null;
    if((bool)TempData["Success"] == false) {

    } else if((bool)TempData["Success"] == true) {
        prof = (CProfesseur)TempData["Session"];
    }
}

<h1>@ViewData["Title"]</h1>

<span> Compte créer avec succes @prof.LastName @prof.SurName</span>
<a asp-controller="Teacher" asp-action="Index"> Cliquez ici pour être redirigez vers votre interface de professeur</a>