
@{
    ViewData["Title"] = "Inscription en tant que professeur";
    if(TempData["Success"] == null) {
        TempData["Success"] = false;
    }
}

<h1>@ViewData["Title"]</h1>

@if((bool)TempData["Success"]) {
    <span> Compte créer avec succes </span>
    <a asp-controller="Teacher" asp-action="Index"> Cliquez ici pour être redirigez vers votre interface de professeur</a>
} else {
    <span> Une erreur est survenu, veillez recommencer </span>
    <a asp-controller="Home" asp-action="TeacherInscription"> Précédent </a>
}