
@{
    ViewData["Title"] = "AfficheConge";
    //TODO : Affichage de la liste complète des congé avec un bouton pour supprimer chacune, un autre bouton permet d'ajouter des jours de congé via une autre page 
}

<h1>AfficheConge</h1>

