@{
    ViewData["Title"] = "Bienvenue";
}
<h1>@ViewData["Title"]</h1>
<!--
    Projet scolaire HEPH Condorcet 2019-2020
    Made by Simon Jonathan
    -->
<p> Votre connexion c'est passé sans aucun problème, vous pouvez maintenant naviguer sur le site avec le menu ci dessus </p>